.div {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;

  text-align: center;
}
.listTitle {
  background-color: #fff;
  width: fit-content;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.unlisted {
  list-style: none;
  padding: 0;
}
.list {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.movieTitle {
  color: indianred;
  font-weight: normal;
}
.movieYear {
  font-weight: bold;
  font-size: 14px;
  background-color: black;
  padding: 2px 4px;
  color: beige;
}
.expensive {
  color: white;
  background-color: red;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
